html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/mdpi/background.png);
    background-color: #0A0A0A;
    color: #FFFFFF;
    padding: 10px;
}

a {
    color: #FF3C78;
}

@media screen and (-webkit-device-pixel-ratio: 0.75) {
    body {
        background-image: url(../images/ldpi/background.png);
    }
}

@media screen and (-webkit-device-pixel-ratio: 1.5) {
    body {
        background-image: url(../images/hdpi/background.png);
    }
}

@media screen and (-webkit-device-pixel-ratio: 2) {
    body {
        background-image: url(../images/xhdpi/background.png);
    }
}
